{% extends "layout.html" %}

{% block head %}
<style>
.padding {
    padding-left: 5px;
    padding-right: 5px;
}
</style>
{% endblock %}

{% block body %}

<div class="container">
    <center>
        <h1>{{ conference_acronym+' '+year }} - Abstracts Overview</h1>
    </center>
</div>

<div class="container">
<form action="{{ url_for('manage_abstracts.show', action='filter') }}" method="post" class="form-horizontal" role="form">

    {{ form.hidden_tag() }}

    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                {{ formhelpers.render_field(form.filter_text, col0=2) }}
            </div>
            <div class="col-sm-4">
                {{ formhelpers.render_field(form.filter_field, col0=5) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                {{ formhelpers.render_field(form.filter_contribution, col0=6) }}
            </div>
            <div class="col-sm-3">
                {{ formhelpers.render_field(form.filter_submitted, col0=6) }}
            </div>
            <div class="col-sm-3">
                {{ formhelpers.render_field(form.sort_by, col0=4) }}
            </div>
            <div class="col-sm-2">
                {{ formhelpers.render_checkbox(form.sort_reverse, inline=True) }}
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary" formaction="{{ url_for('manage_abstracts.show', action='filter') }}">Filter</button>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-sm-10">
                <h4 class="text-center">total: {{ form.abstracts|length }}</h4>
            </div>
            <div class="col-sm-2 center-block">
                <button type="submit" class="btn btn-primary" formaction="{{ url_for('manage_abstracts.show', action='save') }}">Save</button>
            </div>
        </div>
        <br />

        {% if form.errors.get('duplicate labels', False) %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> Labels need to be unique. Please resolve duplicates.
            </div>
        {% endif %}

        {% for abstract in form.abstracts %}

        {% if loop.index > 1 %}
            <hr>
        {% endif %}

        <div class="row">

            {# participant data #}
            <div class="col-sm-2">
                <div class="padding">
                    <div class="row">
                        <strong>ID</strong>: {{ abstract.ID.data }}
                        <input type="hidden" id="abstracts-{{ loop.index-1 }}-ID" name="abstracts-{{ loop.index-1 }}-ID" readonly title="" type="text" value="{{ abstract.ID.data }}">
                    </div>
                    <div class="row">
                        <strong>Name:</strong> {{ abstract.participant.data }}
                    </div>
                    <div class="row">
                        {{ formhelpers.render_checkbox(abstract.submitted, hide_label=False, wrapped=False, disabled=True) }}
                    </div>
                </div>
            </div>

            {# abstract data #}
            <div class="col-sm-5">
                <div class="padding">
                    <div class="row">
                        {{ formhelpers.render_field(abstract.title, disabled=True) }}
                    </div>
                    <div class="row">
                        {{ formhelpers.render_field(abstract.category) }}
                    </div>
                    <div class="row">
                        {{ formhelpers.render_field(abstract.contribution) }}
                    </div>
                </div>
            </div>

            {# session data #}
            <div class="col-sm-5">
                <div class="padding">
                    <div class="row">
                        {{ formhelpers.render_field(abstract.session) }}
                    </div>
                    <div class="row">
                        {{ formhelpers.render_field(abstract.Label) }}
                    </div>
                    <div class="row">
                        {{ formhelpers.render_field(abstract.time_slot) }}
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

        <div class="row">
            <div class="col-sm-10">
                <h4 class="text-center">total: {{ form.abstracts|length }}</h4>
            </div>
            <div class="col-sm-2 center-block">
                <button type="submit" class="btn btn-primary" formaction="{{ url_for('manage_abstracts.show', action='save') }}">Save</button>
            </div>
        </div>

    </div>

</form>
</div>

{% endblock %}
