{% extends "layout.html" %}
{% import  "utils.html" as utils %}

{% block body %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Book of Abstracts {{ conference_acronym+' '+year }}</a>
        </div>
        <ul class="nav navbar-nav">
        {% for section in sections %}
            {% if section.abstracts|length == 1 %}
                <li><a href="{{ url_for('BoAonline.abstract', ID=section.abstracts[0].label) }}" target="iframe">
                    {{ section.abstracts[0].label }}</a></li>
            {% else %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ section.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    {% for abstract in section.abstracts %}
                        <li><a href="{{ url_for('BoAonline.abstract', ID=abstract.label) }}" target="iframe">
                            {{ utils.make_heading(abstract.label, abstract.time_slot, sep=' ') }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
        <li><a href="{{ url_for('BoAonline.abstract_list') }}" target="iframe">Abstract List</a></li>
        </ul>
    </div>
</nav>

<iframe id="iframe" name="iframe" style="width: 100%;" src="{{ url_for('BoAonline.abstract_list') }}" frameborder="0" scrolling="no"></iframe>

<script src="{{ url_for('static', filename='jquery.responsiveiframe.onclick.js') }}"></script>
<script>
  ;(function($){
      $(function(){
        $('#iframe').responsiveIframe({ xdomain: '*'});
      });
  })(jQuery);

</script>
{% endblock %}
