{% extends "layout.html" %}
{% import  "utils.html" as utils %}

{% block head %}
<!-- load MathJax from CDN with enabled mhchem-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    },
    TeX: {
      extensions: ["mhchem.js"]
    }
  });
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock %}

{% block body %}

<div class="container">
    <h2>List of Abstracts</h2>

    {% for session in sessions %}

        {% if session.abstracts|length == 1 %}

            {% set a = session.abstracts[0] %}
            <h4>
                <a href="{{ url_for('BoAonline.abstract', ID=a.label) }}">{{ a.label }}</a>
                {{ a.time_slot if a.time_slot }}
                {{ a.participant.fullname }}: {{ a.title|markdown|safe }}
            </h4>

        {% else %}

            <h3>{{ utils.make_heading(session['name'], session['time']) }}</h3>
            <ul>
            {% for a in session['abstracts'] %}
                <li><a href="{{ url_for('BoAonline.abstract', ID=a.label) }}">{{ a.label }} </a> {{ a.participant.fullname }}: {{ a.title|markdown|safe }}</li>
            {% endfor %}
            </ul>

        {% endif %}

    {% endfor %}

</div>

{% endblock %}
