{% extends "layout.html" %}
{% block body %}

<div class="container">

    <h2>We thank all our sponsors and supporters:</h2>

    {% if sponsor_list %}

        {# Sponsor Logos #}
        {% for company_name, website, logo in sponsor_list | shuffle %}

            {% if (loop.index+3) is divisibleby 4 %}
                <div class="row vertical-align center-block">
            {% endif %}

                <div class="col-sm-3">
                    <a href="{{ website }}" target="blank"><img src="{{ url_for('static', filename='logos/'+logo) }}" class="img-responsive center-block logo-height" alt="{{ company_name }}" /></a>
                </div>

            {% if loop.index is divisibleby 4 %}
                </div>
                <div style="height:20px;"></div>
            {% endif %}

        {% endfor %}

        {# make sure <div> is closed #}
        {% if not sponsor_list|length is divisibleby 4 %}
            </div>
        {% endif %}

        {# insert some space #}
        <div style="height:20px;"></div>

    {% endif %}

    {% if organizers %}
        <hr>
        {% for institute, website, logo in organizers | shuffle %}

            {% if (loop.index+3) is divisibleby 4 %}
                <div class="row vertical-align center-block">
            {% endif %}

                <div class="col-sm-3">
                    <a href="{{ website }}" target="blank"><img src="{{ url_for('static', filename='logos/'+logo) }}" class="img-responsive center-block logo-height" alt="{{ institute }}" /></a>
                </div>

            {% if loop.index is divisibleby 4 %}
                </div>
                <div style="height:20px;"></div>
            {% endif %}

        {% endfor %}

        {# make sure <div> is closed #}
        {% if not organizers|length is divisibleby 4 %}
            </div>
        {% endif %}

        {# insert some space #}
        <div style="height:20px;"></div>
    {% endif %}

</div>


{% endblock %}
